<ion-view title="Sync">
    <ion-nav-buttons side="right">
        <a class="button icon ion-home" href="#/app/home">

        </a>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <ul class="list">
            <ion-list>
                <ion-item ng-if="it">
                    <button class="button button-assertive button-block" ng-click="getdatatables()">IMPORT DATA TABLES</button>
                </ion-item>
                <!--<ion-item ng-if="rt">
                    <button class="button button-assertive button-block" ng-click="updateretailerdata()">UPDATE RETAILER DATA<span class="badge badge-assertive notification"></span>
                    </button>
                </ion-item>-->
                <ion-item ng-if="tt">
                    <button class="button button-assertive button-block" ng-click="gettoptendata()">GET TOP TEN DATA</button>
                </ion-item>
                <ion-item ng-if="os">

                    <button class="button button-assertive button-block" ng-click="sync()">SEND OFFLINE ORDERS</button>
                </ion-item>

            </ion-list>
            <div style="text-align:center">
                <h4 style=" color: firebrick;font-weight: 700;">SYNC COUNT</h4>
            </div>
            <div class="row" ng-show="os">

                <div class="col col-25" style="text-align:center">
                    <span class="field syncbox">{{ordersup}}</span>
                    <br>Orders Up
                </div>
                <div class="col col-25" style="text-align:center">
                    <span class="field syncbox">{{ordersdown}}</span>
                    <br>Orders Down
                </div>
                <div class="col col-25" style="text-align:center">
                    <span class="field syncbox">{{retailersup}}</span>
                    <br>Retailers Up
                </div>
                <div class="col col-25" style="text-align:center">
                    <span class="field syncbox">{{retailersdown}}</span>
                    <br>Retailers Down
                </div>
            </div>





        </ul>
    </ion-content>
</ion-view>