<ion-view title="Sync">
    <ion-nav-buttons side="right">
        <a class="button icon ion-home" href="#/app/home">

        </a>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <ul class="list">
            <ion-list>
                <ion-item ng-if="it">
                    <button class="button button-assertive button-block" ng-click="getdatatables()">IMPORT DATA TABLES</button>
                </ion-item>
                <ion-item ng-if="rt">
                    <button class="button button-assertive button-block" ng-click="updateretailerdata()">UPDATE RETAILER DATA<span class="badge badge-assertive notification">{{uploadretailersynccount}}</span>
                    </button>
                </ion-item>
                <ion-item ng-if="tt">
                    <button class="button button-assertive button-block" ng-click="gettoptendata()">GET TOP TEN DATA</button>
                </ion-item>
                <ion-item ng-if="os">

                    <button class="button button-assertive button-block" ng-click="sendofflineorders()">SEND OFFLINE ORDERS<span class="badge badge-assertive notification">{{getorsersynccount()}}</span>
                    </button>
                </ion-item>
                <ion-item ng-if="os">
                    <button class="button button-assertive button-block" ng-click="downloadateretailerdata()">UPDATE RETAILERS<span class="badge badge-assertive notification">{{getretailersynccount()}}</span>
                    </button>
                </ion-item>

            </ion-list>





        </ul>
    </ion-content>
</ion-view>